.article {
  min-height: calc(100vh - 46px - 90px);
  .article-head {
    padding: 220px 0 200px 0;
  }
  .article-container {
    display: flex;
    flex-direction: row;
    .article-introduction {
      min-width: 45%;
      max-width: 50%;
    }
    .article-introduction, .article-content {
      padding: 0 50px;
    }
    .article-content {
      padding-bottom: 100px;
      &[data-single-column="true"] {
        padding: 0 260px;
        padding-bottom: 130px;
      }
      h4 {
        padding-top: 50px;
        &::after {
          content: "";
          display: block;
          position: relative;
          width: 100%;
          height: 1px;
          background-color: var(--color-buttons);
          opacity: 0.3;
          margin: 10px 0 20px 0;
        }
        &:first-child {
          padding-top: 0;
        }
      }
      ul {
        width: fit-content;
        padding: 0;
        li {
          margin-bottom: 20px;
          padding: 10px;
          list-style: none;
          background-color: #575b703d;
          border-radius: 3px;
          width: 100%;
        }
      }
      img {
        width: 100%;
      }
      ol {
        padding: 20px 40px;
      }
      p {
        padding-bottom: 20px;
      }
      h5 {
        padding: 30px 0;
      }
    }
  }
}
