.hint {
  position: fixed;
  bottom: 17vh;
  left: 25px;
  .container {
    display: flex;
    align-items: center;
  }
  .bird {
    // z-index: 10412;
    width: 140px;
    svg {
      height: 120px;
      width: 150px;
    }
  }

  .button-default {
    position: fixed;
    bottom: 25vh;
    left: 165px;
    background: transparent;
    .square-hover {
      stroke-dasharray: 125;
    }
    svg {
      position: absolute;
    }
  }
}

// modal

.modal-overlay {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 95vh;
  top: 40px;
  z-index: 1040;
  background-color: rgb(44, 48, 63);
  opacity: 0.8;
  border: 15px solid var(--color-bg);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  // justify-content: center;
  // display: flex;
}

.modal {
  z-index: 100;
  position: absolute;
  bottom: 120px;
  left: 128px;
  border-radius: 3px;
  max-width: 700px;
  padding: 15px 23px;
  background-color: #EAE6E6;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    color: #3c3737;
    font-family: sans-serif;
    line-height: 22px;
    width: 98%;
  }
  .modal-header {
    position: absolute;
    right: 0;
    top: 0;
    .modal-close-button {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1;
      color: #000;
      opacity: 0.7;
      cursor: pointer;
      border: none;
      padding: 5px 10px;
    }
  }
  .modal-bird {
    position: relative;
    left: -10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    svg {
      height: 90px;
      width: 90px;
    }
    .blah {
      position: absolute;
      left: 30px;
      top: 0px;
      .blah-text {
        color: #2d2323;
        transform: rotate(-25deg);
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 8px;
        font-family: sans-serif;
        opacity: 0;
        line-height: 14px;
      }
    }
  }
}
