@font-face {
  font-family: "Cotham Sans";
  src: url("/fonts/CothamSans.eot");
  src: url("/fonts/CothamSans.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CothamSans.woff2") format("woff2"),
    url("/fonts/CothamSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
