header {
  --border: 2px solid rgba(204, 204, 204, 0.1);
  --borderLight: 2px solid rgba(245, 245, 245, 1);
  --height: 46px;
  background: var(--color-bg);
  height: var(--height);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
  padding: 0;

  nav {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
    }
  }

  .headerArrow {
    border-bottom: none;
  }

  .iconButton {
    position: relative;
    height: var(--height);
    width: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-of-type(1) {
      border-right: var(--border);
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      border-left: var(--border);
    }
    &:hover, &[data-is-open="true"] {
      cursor: pointer;
      background-color: var(--color-bg-hover);
      border-top: 2px solid transparent;
      border-bottom: var(--border);
    }
  }

  p {
    padding: 0.7rem 1rem;
  }

  .sideNav {
    z-index: 1;
    width: 368px;
    position: fixed;
    top: 46px;
    ul {
      padding: 0;
      li {
        height: 46px;
        border-bottom: var(--border);
        border-right: var(--border);
        background-color: var(--color-bg);
        &:hover {
          background-color: var(--color-bg-hover);
          // border: var(--borderLight);
        }
        a {
          justify-content: flex-start;
          display: flex;
          align-items: center;
          height: 45px;
          border: none;
          padding: 0 12px;
        }
      }
    }
  }

  .sideAbout {
    z-index: 1;
    width: 368px;
    position: fixed;
    top: 44px;
    align-self: flex-end;
    background-color: var(--color-bg);
    border: var(--border);
    padding: 10px;
    // h6 {
    //   margin: 0 12px 5px 12px;
    //   border-bottom: 1px solid rgba(196, 196, 196, 0.3);
    // }
    p {
      padding: 12px;
    }
  }
}
