header {
  --border: 2px solid rgba(204, 204, 204, 0.1);
  position: fixed;
  width: 100%;
  background: var(--color-bg);
  height: var(--size-header);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
  padding: 0;
  z-index: 10;

  nav {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
    }
  }

  .headerArrow {
    border-bottom: none;
  }

  .iconButton {
    position: relative;
    height: var(--size-header);
    width: var(--size-header);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
    &:nth-of-type(1) {
      border-right: var(--border);
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      border-left: var(--border);
    }
    &:hover, &[data-is-open="true"] {
      &::after {
        transition: var(--ease);
        opacity: 1;
      }
    }
    &::after {
      content: "";
      border-top: 2px solid transparent;
      border-bottom: var(--border);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: darken(rgb(48, 53, 69), 2);
      opacity: 0;
      z-index: -2;
      transition: opacity 250ms;
    }
  }

  p {
    padding: 0.7rem 1rem;
  }

  .sideNav {
    z-index: 1;
    width: 368px;
    position: fixed;
    top: var(--size-header);
    ul {
      padding: 0;
      li {
        height: var(--size-header);
        border-bottom: var(--border);
        border-right: var(--border);
        background-color: var(--color-bg);
        &:hover {
          background-color: darken(rgb(48, 53, 69), 2);
        }
        a {
          justify-content: flex-start;
          display: flex;
          align-items: center;
          height: 45px;
          border: none;
          padding: 0 12px;
        }
      }
    }
  }

  .sideAbout {
    z-index: 1;
    width: 368px;
    position: fixed;
    top: 44px;
    align-self: flex-end;
    background-color: var(--color-bg);
    border: var(--border);
    padding: 10px;
    // h6 {
    //   margin: 0 12px 5px 12px;
    //   border-bottom: 1px solid rgba(196, 196, 196, 0.3);
    // }
    p {
      padding: 12px;
    }
  }
}
