:root {
  /* Colours */
  --color-white: #f3f2f2;
  --color-bright-white: #faf9f9;
  --color-border: #ece8e8;
  --color-bg:  rgb(48, 53, 69); 
  --color-bg-hover:  rgb(52, 57, 73); 
  --color-buttons: #626c8b;
  --color-buttons-hover: #657194; 

  // --color-yellow: #ffca28;
  // --color-blue: #263238;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;
}
