:root {
  /* Colours */
  --color-white: #f3f2f2;
  --color-bright-white: #faf9f9;
  --color-border: #ece8e8;
  --color-bg: rgb(48, 53, 69); 
  --color-buttons: #626c8b;

  --size-header: 46px;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;
}
